{{#if hasBlock}}
  {{#if items}}
    {{#each items as |item index|}}
      <a
        data-width={{item.w}}
        data-height={{item.h}}
        {{action "launchGallery" item}}
      >
        {{yield item index}}
      </a>
    {{/each}}
  {{else}}
    {{! For backward compatability of block usage up to ember-cli-photoswipe versions 1.1.0 }}
    {{yield}}
  {{/if}}
{{/if}}
{{#unless options.destination}}
  {{pswp-element options=options}}
{{/unless}}
{{#if options.destination}}
  <div>
    {{#ember-wormhole to=options.destination}}
      {{pswp-element options=options}}
    {{/ember-wormhole}}
  </div>
{{/if}}